* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: initial;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4bed5;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  hr {
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
  }
  
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: #f7f7f7;
  }

  .game button.winning-move {
    background-color: #1ccd1c;
    color: #ffffff;
    text-decoration: line-through; /*adiciona um risco*/
  }

  #senhora {
    margin-right: 1000px;
    margin-top: -450px;
  }

  #flor {
    margin-left: 850px;
    margin-top: -280px;
  }